<mat-sidenav #appSidebar mode="side">
  <mat-nav-list>
    <a mat-list-item routerLink="/dashboard">Home</a>
    <a mat-list-item routerLink="/history/teams">Teams</a> <!-- todo - make use history routing base url -->
    <a mat-list-item routerLink="/fixtures">Fixtures</a>
    <a mat-list-item routerLink="/dashboard">Current</a>
  </mat-nav-list>
</mat-sidenav>
<mat-toolbar color="primary">
  <button mat-icon-button (click)="appSidebar.toggle()">Menu</button>
  <app-season-selector class="ml-auto"></app-season-selector>
</mat-toolbar>
