<h2 mat-dialog-title>
  {{ name }}
</h2>
<mat-dialog-content [formGroup]="editTeamForm">
  <mat-form-field class="d-block">
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field>
    <mat-select formControlName="division">
      <mat-option *ngFor="let division of divisions$ | async" [value]="division.id">{{ division.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="d-block">
    <textarea matInput placeholder="Narrative" formControlName="narrative"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button #saveButton mat-raised-button color="primary" [disabled]="!editTeamForm.valid || (formChanged$ | async) == null">Save</button>
</mat-dialog-actions>
