<mat-sidenav-container fullscreen>
  <mat-sidenav #appSidebar>
    <mat-nav-list>
      <a mat-list-item routerLink="dashboard">Home</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item routerLink="teams">Teams</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="appSidebar.open()">Menu</button>
    <app-season-selector class="ml-auto"></app-season-selector>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>
